PySide6
openai-whisper
numpy
soundfile
torch --index-url https://download.pytorch.org/whl/cu124
mediapipe
git+https://github.com/m-bain/whisperx
openai
coqui-tts
SpeechRecognition
openai
ollama
pydub
gtts
google-cloud-texttospeech==2.27.0
protobuf==3.20.0
PyAudio
pydevd
